div{
    background-color: black;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background-color: brown;
}
#change{
    background-color: black;
}
.new{
    background-color: yellow;
}
.para{
    color: white;
}
.pot{
    text-decoration: underline;
}

#two{
    
}